.second-card {
  padding: 0 20px;
  margin-top: -100px;
  margin-bottom: 180px;

  .card-wrapper {
    display: flex;
    flex-wrap: nowrap;
    overflow: auto;
    width: 100%;
    gap: 20px;
    .card {
      min-width: 350px;
      &:hover {
        box-shadow: 0px 4px 16px 0px rgba(168, 170, 174, 0.45);
      }
    }
    @media (max-width: 768px) {
      .card {
        padding: 24px 0px;
        min-width: 200px;
        p {
          font-size: 18px !important;
          line-height: 36px !important;
          margin-bottom: 0 !important;
        }
      }
    }
  }
  @media (max-width: 992px) {
    padding: 50px 0px 50px 20px;

    margin-bottom: 50px;
  }
  @media (max-width: 576px) {
    .main-heading {
      text-align: left !important;
      font-size: 24px !important;
      line-height: normal !important;
    }
  }
  .main-heading {
    color: var(--Heading, #1f2d3e);
    text-align: center;
    font-size: 32px;
    font-style: normal;
    font-weight: 700;
    line-height: 46px;
    margin: 0 auto 64px auto;
    max-width: 1222px;
  }
  .card {
    padding: 48px 32px;
    border-radius: 8px;
    border: 1.333px solid var(--Secondary-Secondary---200, #dcdddf);
    background: var(--Extra-White, #fff);
    cursor: pointer;
    transition: 0.5s all;
    &:hover {
      background: var(--primary-primary-500-base, #7367f0);
      box-shadow: 0px 4px 16px 0px rgba(115, 103, 240, 0.45);
      .image-parent {
        background-color: #fff;
        svg {
          color: var(--primary-primary-500-base, #7367f0);
        }
      }
      p {
        color: #fff;
      }
    }
    .image-parent {
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 13.333px;
      padding: 13px;
      width: 100px;
      height: 100px;
      margin: 0 auto 32px auto;
      background: var(--primary-primary-500-base, #7367f0);
      svg {
        color: #fff;
      }
    }
    p {
      color: #242745;
      text-align: center;
      margin: 0;
      &:first-of-type {
        margin-bottom: 13px;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px;
      }
      &:last-of-type {
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 42px; 
      }
    }
    @media (max-width: 992px) {
      margin-bottom: 15px;
    }
  }
} 


