@import "bootstrap/dist/css/bootstrap.css";

body {
  margin: 0;
  width: 100%;
  font-family: "Public Sans", sans-serif;
}

.fit-content {
  width: fit-content !important;
}

section .accordion-item .accordion-header button {
  background: var(--Primary-Primary---100, #e3e1fc);
  padding: 32px;
  outline: none;
  color: var(--Extra-Black, #171725);
  font-size: 22px;
  font-style: normal;
  font-weight: 600;
  line-height: 30px;
}

section .accordion-item .accordion-header button:hover {
  color: var(--Extra-Black, #171725);
}

section .accordion-item .accordion-header button:focus {
  outline: 0 !important;
  box-shadow: none;
}

section .accordion-item .accordion-header button span {
  color: var(--Typography-Color-Muted-Text, #4b465c);
  font-size: 32px;
  font-style: normal;
  font-weight: 700;
  line-height: 46px;
  /* 143.75% */
  margin-right: 47px;
}

section .accordion-item .accordion-body {
  background-color: #e3e1fc;
  color: #5a5365;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 28px;
  /* 155.556% */
  padding-left: 90px;
  padding-top: 0;
}

section .accordion-item .accordion-header button.collapsed {
  background-color: rgba(115, 103, 240, 0.08);
}

section .accordion-item {
  border: none;
}

section .accordion-item .accordion-header {
  border: none;
  outline: none;
}

section .accordion-item .accordion-button:not(.collapsed)::after {
  background-image: url("../src/assets/images/close-acc.svg");
}

section .accordion-item .accordion-button::after {
  width: 45px;
  height: 45px;
  background-size: 100%;
  background-image: url("../src/assets/images/plus-acc.svg");
}

.cursor-pointer {
  cursor: pointer;
}

.contact-us-select {
  width: 100%;
  background: var(--Extra-Card-Background, #fff);
  /* padding: 7px 15px; */
  color: var(--Typography-Color-Muted-Text, #4b465c);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  min-height: 40px;
  border-radius: 4px;
}

.contact-us-select .MuiSelect-select {
  padding: 7px 15px;
  border: 1px solid var(--Extra-Divider, #dbdade);
  font-family: Public Sans;
  color: var(--Typography-Color-Muted-Text, #4b465c);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
}

.contact-us-select.MuiInputBase-root:hover {
  border: 0;
}

label {
  color: var(--Extra-Dark, #4b4b4b);
  font-size: 15px;
  font-style: normal;
  font-weight: 400;
  line-height: normal;
}

label span {
  color: red;
  font-size: 15px;
}

.w-90 {
  width: 90%;
}

@media (max-width: 768px) {
  .w-90 {
    width: 100%;
  }

  .max-w-100 {
    width: 100% !important;
  }

  section .accordion-item .accordion-header button {
    padding: 15px;
  }

  section .accordion-item .accordion-header button {
    font-size: 18px;
    line-height: 24px;
  }

  section .accordion-item .accordion-header button span {
    margin-right: 20px;
    font-size: 18px;
  }

  section .accordion-item .accordion-body {
    padding-left: 48px;
    font-size: 14px;
    line-height: normal;
  }

  section .accordion-item .accordion-button::after {
    width: 24px;
    height: 24px;
  }
}

.rotating-icons {
  width: 100%;
  position: relative;
  overflow: hidden;
  /* margin: 40px; */
}

.back-layer {
  width: 100%;
  height: 100%;
  position: relative;
}

.orbit-1 {
  position: absolute;
  width: 25%;
  height: 25%;
  top: 30%;
  right: -2%;
  z-index: 500;
}

.rotating-div {
  animation: orbit-b 60s linear infinite;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 500;
}

.imoge-1 {
  animation: orbit-a 60s linear infinite;
}

@keyframes orbit-a {
  0% {
    transform: rotate(360deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes orbit-b {
  100% {
    transform: rotate(360deg);
  }
}

.col-md-6 {
  position: relative;
}

.counterr {
  position: absolute;
  top: 50px;
  color: white;
}

.orbit-2 {
  position: absolute;
  width: 15%;
  height: 15%;
  left: 19%;
  top: 5%;
}

.imoge-2 {
  animation: orbit-a 60s linear infinite;
}

.orbit-3 {
  position: absolute;
  width: 20%;
  height: 20%;
  top: 70%;
  left: 10%;
  z-index: 500;
}

.imoge-3 {
  animation: orbit-a 60s linear infinite;
}
